.content-creator-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px; 
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    height: 400px; 
    color: white;
    position: relative;
    text-align: left; 
    overflow: hidden; 
}

.content-creator-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
}

.content-creator-card-details {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.content-creator-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 16px; 
}

.creator-nam {
    font-size: 20px; 
    color: white; 
    text-transform: uppercase; 
    margin: 0;
    white-space: nowrap; 
    overflow: visible; 
    text-overflow: clip; 
    width: 100%; 
    text-align: center; 
}

.action-buttons {
    display: flex;
    gap: 10px;
    flex-shrink: 0; 
}

.social-link {
    display: flex;
    gap: 15px; 
    margin-top: 16px;
    flex-wrap: nowrap; 
    justify-content: left; 
    overflow: hidden;
}


.description {
    margin: 16px 0;
    font-size: 16px; 
    color: #f0f0f0;
}



